<% layout('./boilerplate/boilerplate.ejs') %>'

<body>
    <div class="checkPoints">
        <div class=" checkDiv"><h1> Team name -  <%=currTeam.teamName %></h1></div>
        <div class=" checkDiv"><h3> Team code  - <%= currTeam.teamCode %></h3></div>
        <div class=" checkDiv"><h3 > Team Points - <%=currTeam.points %></h3></div>
        <div class=" checkDiv"><h3 > Attempted Question - <%=currTeam.noOfQuestion %></h3></div>
        <div class=" checkDiv"><h3 > Team Answer - <%=currTeam.answer %></h3></div>
    </div>
   
</body>